#ComingSoon {
    width: 105vw;
    height: 106vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fffeee;
    overflow: hidden;
    font-size: 32px;

}

#ComingSoon .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 30%;
    padding-left: 90px;

}

/* #ComingSoon .laylaleft {
    left: 0;
    position: absolute;
    height: 100%;
} */

/* #ComingSoon .laylaright {
    right: 0;
    position: absolute;
    height: 100%;
} */

#ComingSoon .laylatongue {
-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 0;
  position: absolute;
}

@media screen and (max-width:425px) {
    #ComingSoon {
        flex-direction: column;
        overflow: hidden;
    }
    #ComingSoon .laylatongue {
        height: 30%;
        bottom: 0;
    }
    #ComingSoon .container {
        width: 100%;
        align-items: center;
        padding-left: 0px;
    }
}
