#TechStack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    overflow: hidden;
    width: 100vw;
    position: relative;
    height: 225px;
}

@keyframes scrollLeft {
    to {
      left: -200px;
    }
}

.icons .icon {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: max(calc(200px * 9), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.icons .icon:hover {
    transform: scale(1.2);
}

.icon1 {
    animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.icon2 {
    animation-delay: calc(30s / 9 * (9 - 2) * -1);
}


.icon3 {
    animation-delay: calc(30s / 9 * (9 - 3) * -1);
}


.icon4 {
    animation-delay: calc(30s / 9 * (9 - 4) * -1);
}


.icon5 {
    animation-delay: calc(30s / 9 * (9 - 5) * -1);
}


.icon6 {
    animation-delay: calc(30s / 9 * (9 - 6) * -1);
}


.icon7 {
    animation-delay: calc(30s / 9 * (9 - 7) * -1);
}


.icon8 {
    animation-delay: calc(30s / 9 * (9 - 8) * -1);
}


.icon9 {
    animation-delay: calc(30s / 9 * (9 - 9) * -1);
}
