body {
    padding: 20px;
}
.intro-container{
    display:flex;
    border: solid black 1px;
    align-items: center;

}

.logo {
    margin-right:auto;
    font-family: 'Abril Fatface', cursive;}
.logo > h1 {
    font-size: 100px;
}

.firstname {
    margin-bottom:0px;
}
.lastname {
    padding:0px;
    margin-top:0px;
}
nav {
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    margin-right: 20px;
}
nav p {
    justify-content: space-around;
    font-family:'Lato', sans-serif;
}
