/* general styling */ 
body {
    padding: 30px;
}
h1, h2, h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px; 
}
p {
    font-family:'Lato', sans-serif;
}
article p {
    font-size: 20px; 
}

/* styling for header */ 

.intro-container{
    display:flex;
    align-items: center;
}

.logo {
    margin-right:auto;
    font-family: 'Abril Fatface', cursive;
    padding-left: 30px; 
    margin-bottom: 50px; 
}
.logo > h1 {
    font-size: 100px;
}

.firstname {
    margin-bottom:0px;
}
.lastname {
    padding:0px;
    margin-top:0px;
}
nav {
    justify-content: center;
    padding: 30px;
    font-size: 40px !important;
    margin-right: 20px;
}
nav p {
    justify-content: space-around;
    font-family:'Lato', sans-serif;
}
/* styling for About me section */ 
.aboutme {
    display: flex; 
    padding: 20px; 
    margin-bottom: 50px;
    align-items: center; 

}
.angelika-picture {
    width: 30%; 
    border-radius: 50%;
    margin-right: 10px; 
}
.about-me-content {
    margin: 40px; 
    padding: 30px; 
    padding-top: 10px; 
}
/* styling for In addition section */
.interests-intro {
    text-align: center; 
    border: solid black 1px; 
}
.interests {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    margin-top: 50px; 
}
.interests img {
    width: 280px; 
}
.interests-container {
    padding: 40px; 
}
.interests div p {
    text-align: center; 
}

.interests-container header h2 {
    text-align: center;
    padding-top: 30px; 
    padding-bottom: 0px;
    margin: 20px;
}
/* Styling for contact me section */
.contactme {
    text-align:center; 
    margin-top: 30px;
}

.contactme-sign {
    margin: 20px; 

}
.contactme-sign h2 {
    margin: 0px; 
}
.contact-info{
    padding: 30px; 
    font-size: 25px; 
}
.links {
    display: flex; 
    justify-content: space-evenly;
}


